@font-face {
  font-family: "DigitalFont";
  src: url("fonts/digital.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "outfit", serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  background-color: #a4d7e8;
}
.title {
  font-weight: bold;
  color: #343437;
}

.calculator-wrapper {
  width: 350px;
  height: 400px;
  background-color: #343437;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.result {
  align-self: flex-end;
  font-size: 22px;
  font-weight: bold;
  color: #ffa500;
  max-width: 100%;
  overflow-x: auto;
  text-align: right;
}

.input {
  align-self: flex-end;
  font-size: 26px;
  font-weight: bold;
  color: white;
  display: block;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  width: 350px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
}

button {
  background-color: #e0e0e0;
  border: none;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid gray;
}

button:active {
  background-color: #d0d0d0;
}

button.span-two {
  grid-column: span 2;
}

button.span-row-two {
  grid-row: span 2; /* Span two rows */
  background-color: #3a3a97;
  color: #fff;
}

button:last-child:active {
  background-color: #e08900;
}

.clear {
  background-color: rgb(185, 9, 9);
  color: #fff;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  /* background: #888; */
  background: gray;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.scroll-box {
  position: fixed;
  right: 0;
  bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px 0 0 0;
  cursor: pointer;
  z-index: 999;
  background-image: linear-gradient(90deg, #426781, #599eb4, #84b4c1);
  background-size: 200% auto;
}

.name {
  color: white;
  font-weight: 600;
}
